{
  "openapi": "3.1.0",
  "info": {
    "title": "Picora API (Public)",
    "version": "0.7.0",
    "description": "Picora 图床与视频托管平台 REST API。基础路径 `/v1/`，Webhook 路由使用 `/webhooks/`。\n\n**认证方式**：\n- Web 端（picora-center）使用 JWT Bearer Token（`Authorization: Bearer <access_token>`），access token 有效期 15 分钟，通过 `/v1/auth/refresh` 静默刷新。\n- 工具端（PicGo/Moraya）使用 API Key（`Authorization: Bearer sk_live_xxxx`）。\n\n**响应格式**：成功响应 `{\"success\": true, \"data\": ...}`，失败响应 `{\"success\": false, \"error\": \"...\"}。`\n\n## Rate Limiting (v0.12.0+)\n\nAll public endpoints are tiered-rate-limited per API Key:\n\n| Tier     | Endpoints                                          | Limit      | Burst |\n|----------|----------------------------------------------------|------------|-------|\n| read     | GET list/detail, /v1/auth/verify, /v1/user/me/*    | 600/min    | 30    |\n| upload   | POST /v1/{images,videos,audio}                     | 60/min     | 5     |\n| mutation | PATCH / DELETE (incl. batch)                       | 120/min    | 10    |\n\nPlus a global ceiling of **5000 requests/hour per API Key**.\nAdmin users get a ×10 multiplier.\n\nWhen triggered, the response is **HTTP 429** with headers:\n`RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`, `Retry-After`.\n",
    "contact": {
      "name": "Picora Team",
      "url": "https://picora.com"
    },
    "servers": [
      {
        "url": "https://api.picora.me",
        "description": "Production"
      },
      {
        "url": "http://localhost:3102",
        "description": "Local development"
      }
    ]
  },
  "servers": [
    {
      "url": "https://api.picora.com",
      "description": "海外版（Cloudflare Workers）"
    },
    {
      "url": "https://api.picora.cn",
      "description": "国内版（阿里云 ECS Docker）"
    },
    {
      "url": "http://localhost:8787",
      "description": "本地开发（Wrangler Dev）"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "认证与会话管理（注册、登录、Token 刷新、密码重置）"
    },
    {
      "name": "images",
      "description": "图片上传、查询、更新、删除"
    },
    {
      "name": "videos",
      "description": "视频上传、查询状态、管理（Pro 及以上套餐）"
    },
    {
      "name": "audio",
      "description": "音频上传、查询、更新、删除（Pro 及以上套餐，v0.12.0+）"
    },
    {
      "name": "media",
      "description": "统一媒体列表与批量删除（图片 + 视频 + 音频，v0.12.0+）"
    },
    {
      "name": "user",
      "description": "用户 Profile、密码、用量统计、身份绑定"
    },
    {
      "name": "api-keys",
      "description": "API Key 管理与工具配置模板"
    },
    {
      "name": "billing",
      "description": "套餐价格、支付 Checkout、账单历史"
    },
    {
      "name": "domains",
      "description": "自定义域名绑定与 CNAME 验证（Pro+ 套餐）"
    },
    {
      "name": "system",
      "description": "健康检查"
    },
    {
      "name": "kbs",
      "description": "知识库（Knowledge Base）管理：创建、列表、详情、修改、删除（v0.17.0+）"
    },
    {
      "name": "docs",
      "description": "Markdown 文档资源：上传、列表、详情、全文、更新、删除（v0.15.0+）"
    },
    {
      "name": "boards",
      "description": "教学画板资源（.boardraw 场景文件）：上传、列表、详情、全文、更新、删除（v0.80.0+）"
    },
    {
      "name": "kb-conflicts",
      "description": "KB 冲突分支管理：创建分支、采纳、丢弃（v0.35+）"
    },
    {
      "name": "oauth",
      "description": "OAuth 2.0 / OIDC 协议端点：Discovery、Authorization、Token、Revoke、UserInfo（v0.14.0+）"
    },
    {
      "name": "oauth-mgmt",
      "description": "OAuth 客户端授权用户管理：列表、吊销（v0.14.0+）"
    },
    {
      "name": "me",
      "description": "用户自助端点：订阅状态、已授权 OAuth 应用管理（v0.30+）"
    },
    {
      "name": "tickets",
      "description": "用户支持工单系统"
    },
    {
      "name": "watermark",
      "description": "水印模板管理（pro_plus）"
    },
    {
      "name": "mcp",
      "description": "MCP（Model Context Protocol）工具市场"
    },
    {
      "name": "storage-tier",
      "description": "存储冷热分层管理（v0.34）"
    },
    {
      "name": "aigc",
      "description": "AIGC 项目 / 模板 / 生成 / 批量(v0.39 - v0.45)"
    },
    {
      "name": "published-pages",
      "description": "MD 发布器 + 公众号导出(v0.43)"
    },
    {
      "name": "credit",
      "description": "Credit Wallet(v0.40)"
    },
    {
      "name": "agreements",
      "description": "AIGC 协议同意(v0.46)"
    },
    {
      "name": "mcp-usage",
      "description": "MCP 用量看板(v0.47)"
    },
    {
      "name": "ai-tools",
      "description": "AI 增值工具集 5 个(v0.48)"
    },
    {
      "name": "migration",
      "description": "图床迁入服务 + Apple Photos export(v0.49 / v0.58)"
    },
    {
      "name": "orgs",
      "description": "Org CRUD + 权限 + Billing(v0.50 - v0.52)"
    },
    {
      "name": "insights",
      "description": "Picora Insights 图像分析(v0.53)"
    },
    {
      "name": "publish",
      "description": "多平台发布(v0.54)"
    },
    {
      "name": "backup",
      "description": "备份与导出服务(v0.55)"
    },
    {
      "name": "oauth-device",
      "description": "OAuth 设备授权流程 RFC 8628(v0.57)"
    },
    {
      "name": "notifications",
      "description": "站内信（v0.66.0）：列表 / 未读数 / 已读"
    },
    {
      "name": "campaigns",
      "description": "促销活动（v0.66.0）：活动查询 / 领券 / 验券"
    },
    {
      "name": "collections",
      "description": "合集（Collections）—— 多媒体统一容器（doc/image/video/audio），含 KB / AIGC / 图集 / 电视剧等类型。"
    },
    {
      "name": "collection-types",
      "description": "合集类型 —— 9 个内置类型 + 用户自定义（Pro+）。"
    },
    {
      "name": "collection-episodes",
      "description": "剧集（Episodes）—— 合集内的编号分区 + 第三方 AI 视频同步（episode.sync）。"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token，通过 `/v1/auth/login` 或 `/v1/auth/refresh` 获取。有效期 15 分钟。"
      },
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API Key，格式为 `sk_live_` + 32位 nanoid。通过 `/v1/api-keys` 创建，用于工具端集成。"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 授权码 + PKCE。第三方 / 编辑器客户端（Moraya / Boardraw 等）通过授权页获得带 scope 的 access token（RS256 Bearer）。业务端点所需 scope 见每个操作的 `x-oauth-scope` 扩展；自 v0.79.x 起 observe-first 铺开（默认只记 `oauth.scope.denied` 日志），部署置 `OAUTH_SCOPE_ENFORCED=true` 后 scope 不足返回 403 `INSUFFICIENT_SCOPE`。第一方 JWT（BearerAuth）与 API Key（ApiKeyAuth）不参与 OAuth scope 体系。",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.picora.me/oauth/authorize",
            "tokenUrl": "https://api.picora.me/oauth/token",
            "scopes": {
              "openid": "OIDC 身份标识",
              "account.read": "读取账户基本信息 / 用量 / 订阅",
              "media.read": "列表 / 详情 / 用量（图片·视频·音频）",
              "media.write": "上传 / 修改媒体",
              "media.delete": "删除媒体",
              "kb.read": "读取知识库与文档",
              "kb.write": "写入 / 同步 / 删除知识库文档",
              "collection.read": "读取合集与剧集",
              "collection.write": "创建 / 修改合集",
              "collection.delete": "删除合集",
              "episode.write": "写入 / 同步剧集"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": false,
            "example": false
          },
          "error": {
            "type": "string",
            "description": "人类可读的错误描述。",
            "example": "Unauthorized"
          }
        }
      },
      "SuccessNull": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true,
            "example": true
          },
          "data": {
            "type": "null",
            "example": null
          }
        }
      },
      "SuccessGeneric": {
        "type": "object",
        "description": "v0.59.3:通用成功包装,data 是任意业务对象。",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true,
            "example": true
          },
          "data": {
            "description": "业务数据,具体结构由各端点指定"
          }
        }
      },
      "Nanoid21": {
        "type": "string",
        "minLength": 21,
        "maxLength": 21,
        "description": "21 字符 nanoid(实体 ID)",
        "example": "V1StGXR8_Z5jdHi6B-myT"
      },
      "Iso8601": {
        "type": "string",
        "format": "date-time",
        "example": "2026-05-29T08:00:00.000Z"
      },
      "CreditLedgerItem": {
        "type": "object",
        "description": "v0.40 Credit 流水条目。",
        "required": [
          "id",
          "deltaCents",
          "balanceAfter",
          "reason",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "deltaCents": {
            "type": "integer",
            "description": "正数=入账,负数=扣款",
            "example": -200
          },
          "balanceAfter": {
            "type": "integer",
            "minimum": 0
          },
          "reason": {
            "type": "string",
            "enum": [
              "topup",
              "promo",
              "refund",
              "admin_adj",
              "aigc",
              "ai_tool",
              "mcp"
            ]
          },
          "refType": {
            "type": "string",
            "nullable": true
          },
          "refId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "AigcProject": {
        "type": "object",
        "description": "v0.39 AIGC 项目对象。",
        "required": [
          "id",
          "userId",
          "name",
          "type",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "ownerId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "type": {
            "type": "string",
            "enum": [
              "comic",
              "wechat",
              "picturebook",
              "tutorial",
              "custom"
            ]
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "creatorKbId": {
            "type": "string",
            "nullable": true
          },
          "outputKbId": {
            "type": "string",
            "nullable": true
          },
          "coverImageId": {
            "type": "string",
            "nullable": true,
            "description": "项目封面图片 ID，未设置为 null。",
            "example": null
          },
          "episodeCount": {
            "type": "integer",
            "minimum": 0
          },
          "assetCount": {
            "type": "integer",
            "minimum": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ]
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "AigcBatchJob": {
        "type": "object",
        "description": "v0.45 AIGC 批量生成任务。",
        "required": [
          "id",
          "userId",
          "total",
          "completed",
          "failed",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "userId": {
            "type": "string",
            "description": "任务所属用户 ID，nanoid 21 字符。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "description": "关联的 AIGC 项目 ID，nanoid 21 字符；无归属项目时为 null。",
            "example": null
          },
          "total": {
            "type": "integer"
          },
          "completed": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "cancelled": {
            "type": "integer"
          },
          "totalCostCents": {
            "type": "integer"
          },
          "actualCostCents": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "completed",
              "partial",
              "cancelled",
              "failed"
            ]
          },
          "assetIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AigcTemplate": {
        "type": "object",
        "description": "v0.45 AIGC 项目模板（用于一键从模板创建项目）。",
        "required": [
          "id",
          "slug",
          "name",
          "category",
          "previewUrls",
          "isOfficial",
          "isFeatured",
          "recommendedPlan",
          "useCount",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "模板 ID。",
            "example": "tpl_comic_basic"
          },
          "slug": {
            "type": "string",
            "description": "模板 slug（路径友好标识）。",
            "example": "comic-basic"
          },
          "name": {
            "type": "string",
            "description": "模板显示名。",
            "example": "四格漫画"
          },
          "category": {
            "type": "string",
            "enum": [
              "comic",
              "wechat",
              "picturebook",
              "tutorial",
              "custom"
            ],
            "description": "模板品类（与项目 type 对齐）。",
            "example": "comic"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "模板描述，未设置为 null。",
            "example": "适合新手的四格漫画模板"
          },
          "coverUrl": {
            "type": "string",
            "nullable": true,
            "description": "封面图 URL，未设置为 null。",
            "example": null
          },
          "previewUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "预览图 URL 列表。",
            "example": []
          },
          "isOfficial": {
            "type": "boolean",
            "description": "是否官方模板。",
            "example": true
          },
          "isFeatured": {
            "type": "boolean",
            "description": "是否精选（首页推荐）。",
            "example": false
          },
          "recommendedPlan": {
            "type": "string",
            "description": "推荐使用的套餐标识。",
            "example": "pro"
          },
          "useCount": {
            "type": "integer",
            "minimum": 0,
            "description": "被使用次数。",
            "example": 128
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "deprecated",
              "hidden"
            ],
            "description": "模板状态：active=可用；deprecated=已弃用；hidden=已下架。",
            "example": "active"
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "AigcContent": {
        "type": "object",
        "description": "v0.39 AIGC 内容单元（隶属某个 episode）。",
        "required": [
          "id",
          "episodeId",
          "sequenceNo",
          "title",
          "promptCount",
          "assetCount",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "episodeId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "docId": {
            "type": "string",
            "nullable": true,
            "description": "关联文档 ID，nanoid 21 字符；未绑定为 null。",
            "example": null
          },
          "sequenceNo": {
            "type": "integer",
            "description": "在 episode 内的排序序号。",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "内容标题。",
            "example": "第一格"
          },
          "promptCount": {
            "type": "integer",
            "minimum": 0,
            "description": "关联提示词数量。",
            "example": 3
          },
          "assetCount": {
            "type": "integer",
            "minimum": 0,
            "description": "已生成素材数量。",
            "example": 2
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "generating",
              "ready",
              "published"
            ],
            "description": "内容状态：draft=草稿；generating=生成中；ready=就绪；published=已发布。",
            "example": "draft"
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "AigcEpisode": {
        "type": "object",
        "description": "v0.39 AIGC 剧集节点（project tree 中的子节点，含 contents）。",
        "required": [
          "id",
          "projectId",
          "sequenceNo",
          "title",
          "status",
          "contentCount",
          "createdAt",
          "updatedAt",
          "contents"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "projectId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "sequenceNo": {
            "type": "integer",
            "minimum": 1,
            "description": "剧集序号（从 1 起）。",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "剧集标题。",
            "example": "第一话"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "generating",
              "ready",
              "published"
            ],
            "description": "剧集状态：draft=草稿；generating=生成中；ready=就绪；published=已发布。",
            "example": "draft"
          },
          "contentCount": {
            "type": "integer",
            "minimum": 0,
            "description": "内容单元数量。",
            "example": 4
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "contents": {
            "type": "array",
            "description": "剧集下的内容单元列表。",
            "items": {
              "$ref": "#/components/schemas/AigcContent"
            }
          }
        }
      },
      "AigcProjectTree": {
        "description": "v0.39 AIGC 项目树：项目基础字段 + 剧集/内容嵌套结构。",
        "allOf": [
          {
            "$ref": "#/components/schemas/AigcProject"
          },
          {
            "type": "object",
            "required": [
              "episodes"
            ],
            "properties": {
              "episodes": {
                "type": "array",
                "description": "项目下的剧集节点列表（每个含 contents）。",
                "items": {
                  "$ref": "#/components/schemas/AigcEpisode"
                }
              }
            }
          }
        ]
      },
      "AigcAssetStatus": {
        "type": "object",
        "description": "v0.39 AIGC 单素材生成状态查询结果。",
        "required": [
          "assetId",
          "status",
          "costCents",
          "balanceAfter"
        ],
        "properties": {
          "assetId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "generating",
              "ready",
              "failed"
            ],
            "description": "素材生成状态：pending=排队；generating=生成中；ready=完成；failed=失败。",
            "example": "ready"
          },
          "costCents": {
            "type": "integer",
            "description": "本次生成计费金额（分）。",
            "example": 20
          },
          "balanceAfter": {
            "type": "integer",
            "description": "计费后 Credit 余额（分）。",
            "example": 1800
          },
          "imageUrl": {
            "type": "string",
            "description": "生成结果图片 URL，仅当 status=ready 且已落图时返回。",
            "example": "https://media.picora.me/xK9mR2pQ7vB.png"
          },
          "failureReason": {
            "type": "string",
            "description": "失败原因，仅当生成失败时返回。",
            "example": "provider_timeout"
          }
        }
      },
      "Organization": {
        "type": "object",
        "description": "v0.50 Org 对象。",
        "required": [
          "id",
          "name",
          "slug",
          "plan",
          "seatCount",
          "seatLimit",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "slug": {
            "type": "string",
            "minLength": 2,
            "maxLength": 48,
            "pattern": "^[a-z0-9-]+$"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "plan": {
            "type": "string",
            "enum": [
              "org_starter",
              "org_pro",
              "org_enterprise"
            ]
          },
          "seatCount": {
            "type": "integer",
            "minimum": 0
          },
          "seatLimit": {
            "type": "integer",
            "minimum": 1
          },
          "billingUserId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "OrgMember": {
        "type": "object",
        "required": [
          "id",
          "orgId",
          "userId",
          "role",
          "invitedAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "orgId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "editor",
              "viewer"
            ]
          },
          "invitedAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PublishedPage": {
        "type": "object",
        "description": "v0.43 发布页对象。",
        "required": [
          "id",
          "ownerId",
          "docId",
          "slug",
          "title",
          "layout",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "ownerId": {
            "type": "string"
          },
          "docId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "coverImageId": {
            "type": "string",
            "nullable": true
          },
          "layout": {
            "type": "string",
            "enum": [
              "article",
              "comic",
              "gallery"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "unpublished"
            ]
          },
          "viewCount": {
            "type": "integer"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "MigrationJob": {
        "type": "object",
        "description": "v0.49 / v0.58 迁入任务。",
        "required": [
          "id",
          "source",
          "total",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "userId": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": [
              "imgur",
              "smms",
              "bunpic",
              "custom_urls",
              "apple_photos_export"
            ]
          },
          "total": {
            "type": "integer"
          },
          "processed": {
            "type": "integer"
          },
          "succeeded": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "duplicateSkipped": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "cancelled"
            ]
          },
          "redirectEnabled": {
            "type": "boolean"
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "BackupSubscription": {
        "type": "object",
        "description": "v0.55 Backup 周期订阅。",
        "required": [
          "id",
          "ownerId",
          "targetType",
          "schedule",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "ownerId": {
            "type": "string"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "email",
              "webdav",
              "gdrive",
              "aliyundrive",
              "s3"
            ]
          },
          "schedule": {
            "type": "string",
            "enum": [
              "weekly",
              "monthly"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "failed"
            ]
          },
          "lastRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "nextRunAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "active",
              "past_due"
            ]
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "BackupJob": {
        "type": "object",
        "description": "v0.55 Backup 任务实例。",
        "required": [
          "id",
          "ownerId",
          "targetType",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "ownerId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "targetType": {
            "type": "string"
          },
          "totalBytes": {
            "type": "integer"
          },
          "partsCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "packing",
              "uploading",
              "completed",
              "failed"
            ]
          },
          "zipUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "deliveryStatus": {
            "type": "string",
            "nullable": true
          },
          "failureReason": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AiToolResult": {
        "type": "object",
        "description": "v0.48 AI 工具调用结果。",
        "required": [
          "logId",
          "status",
          "toolKey",
          "costCents"
        ],
        "properties": {
          "logId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed"
            ]
          },
          "toolKey": {
            "type": "string",
            "enum": [
              "smart_crop",
              "alt_text",
              "auto_tag",
              "ocr",
              "bg_remove"
            ]
          },
          "output": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "image",
                  "text",
                  "tags",
                  "markdown"
                ]
              },
              "imageId": {
                "type": "string"
              },
              "imageUrl": {
                "type": "string"
              },
              "text": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "costCents": {
            "type": "integer"
          },
          "failureReason": {
            "type": "string"
          },
          "durationMs": {
            "type": "integer"
          }
        }
      },
      "PlatformBinding": {
        "type": "object",
        "description": "v0.54 已绑定的发布平台。",
        "required": [
          "id",
          "ownerId",
          "platform",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "ownerId": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "wechat",
              "xiaohongshu",
              "juejin",
              "medium",
              "substack"
            ]
          },
          "externalUserId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked",
              "expired"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          }
        }
      },
      "PublishJob": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "docId",
          "platforms",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "ownerId": {
            "type": "string"
          },
          "docId": {
            "$ref": "#/components/schemas/Nanoid21"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "publishing",
              "partial",
              "completed",
              "failed"
            ]
          },
          "results": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/Iso8601"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "InsightsDaily": {
        "type": "object",
        "required": [
          "date",
          "views",
          "blocked"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-05-28"
          },
          "views": {
            "type": "integer"
          },
          "blocked": {
            "type": "integer"
          },
          "topReferers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "host": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "topCountries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "deviceBreakdown": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "description": "用户公开信息对象。",
        "required": [
          "id",
          "email",
          "plan",
          "role",
          "emailVerified",
          "locale",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "用户唯一标识符，nanoid 21 字符。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "注册邮箱。三方登录用户可能为 null。",
            "example": "user@example.com"
          },
          "nickname": {
            "type": [
              "string",
              "null"
            ],
            "description": "用户昵称，可选。",
            "example": "Alice"
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "头像图片 URL。",
            "example": "https://img.picora.com/avatars/abc123.jpg"
          },
          "plan": {
            "type": "string",
            "enum": [
              "none",
              "trial",
              "pro",
              "pro_plus"
            ],
            "description": "当前套餐。none=未激活（无任何配额），trial=试用版，pro=专业版，pro_plus=旗舰版。",
            "example": "pro"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ],
            "description": "账号角色。admin 可访问 /v1/admin/* 接口。",
            "example": "user"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "邮箱是否已验证。三方登录/未验证用户为 false。",
            "example": true
          },
          "locale": {
            "type": "string",
            "description": "用户语言偏好，用于邮件模板语言选择。",
            "example": "zh-CN"
          },
          "isActive": {
            "type": "boolean",
            "description": "账号是否激活（未被封禁）。",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "注册时间，ISO 8601 格式。",
            "example": "2026-01-15T08:30:00.000Z"
          }
        }
      },
      "AuthResult": {
        "type": "object",
        "description": "登录/注册成功响应数据。",
        "required": [
          "accessToken",
          "user"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT access token，有效期 15 分钟。存入内存（不存 localStorage），用于后续 API 请求 Authorization 头。",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "Image": {
        "type": "object",
        "description": "图片元数据对象。",
        "required": [
          "id",
          "userId",
          "url",
          "filename",
          "mimeType",
          "sizeBytes",
          "isPublic",
          "tags",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "图片唯一标识符，nanoid 11 字符，用于外链 URL。",
            "example": "xK9mR2pQ7vB"
          },
          "userId": {
            "type": "string",
            "description": "图片所属用户 ID，nanoid 21 字符。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "url": {
            "type": "string",
            "description": "CDN 可访问的公开图片 URL。格式：https://img.picora.com/{id}.{ext}",
            "example": "https://img.picora.com/xK9mR2pQ7vB.jpg"
          },
          "filename": {
            "type": "string",
            "description": "原始文件名（不含路径）。",
            "example": "photo.jpg"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "用户为图片设置的标题，未设置为 null。",
            "example": "海边落日"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME 类型。",
            "example": "image/jpeg"
          },
          "sizeBytes": {
            "type": "integer",
            "description": "文件大小（字节）。",
            "example": 204800
          },
          "width": {
            "type": [
              "integer",
              "null"
            ],
            "description": "图片宽度（像素），处理完成后写入。",
            "example": 1920
          },
          "height": {
            "type": [
              "integer",
              "null"
            ],
            "description": "图片高度（像素），处理完成后写入。",
            "example": 1080
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "标签列表，可用于筛选。",
            "example": [
              "风景",
              "旅行"
            ]
          },
          "isPublic": {
            "type": "boolean",
            "description": "是否公开。false 时外链访问返回 403（Referer 防盗链仍生效）。",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "上传时间，ISO 8601 格式。",
            "example": "2026-03-10T14:22:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "最近更新时间（元数据修改如标题/标签/可见性时刷新），ISO 8601 格式。",
            "example": "2026-03-11T09:00:00.000Z"
          }
        }
      },
      "ImageList": {
        "type": "object",
        "required": [
          "images",
          "nextCursor"
        ],
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "下一页游标，null 表示已到最后一页。传入下次请求的 cursor 参数获取下一页。",
            "example": "eyJpZCI6IlhLOU1SMlBRN3ZCIiwiY3JlYXRlZEF0IjoiMjAyNi0wMy0xMCJ9"
          }
        }
      },
      "Video": {
        "type": "object",
        "description": "视频元数据对象（需 Pro 及以上套餐）。",
        "required": [
          "id",
          "title",
          "status",
          "sizeBytes",
          "isPublic",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "视频唯一标识符，nanoid 21 字符。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "title": {
            "type": "string",
            "description": "视频标题，默认为去掉扩展名的文件名。",
            "example": "产品演示视频"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "ready",
              "error"
            ],
            "description": "转码状态。processing=转码中，ready=可播放，error=转码失败。",
            "example": "ready"
          },
          "sizeBytes": {
            "type": "integer",
            "description": "原始文件大小（字节），按此值计费存储配额。",
            "example": 104857600
          },
          "durationSeconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "视频时长（秒），转码完成后写入。",
            "example": 185
          },
          "playbackUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "HLS 播放列表 URL（.m3u8），转码完成后可用。带宽降级时自动指向 360p 播放列表。",
            "example": "https://vz-abc123.b-cdn.net/guid/index.m3u8"
          },
          "thumbnailUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "封面图 URL，转码完成后自动生成。",
            "example": "https://vz-abc123.b-cdn.net/guid/thumbnail.jpg"
          },
          "isPublic": {
            "type": "boolean",
            "description": "是否公开可访问。",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-01T10:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-01T10:05:00.000Z"
          }
        }
      },
      "VideoList": {
        "type": "object",
        "required": [
          "videos",
          "nextCursor"
        ],
        "properties": {
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "下一页游标，null 表示最后一页。",
            "example": null
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "description": "API Key 信息（不含明文，仅展示用）。",
        "required": [
          "id",
          "name",
          "keyPrefix",
          "scope",
          "scopesV2",
          "scopeVersion",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "API Key 记录 ID，nanoid 21 字符。用于删除、查询工具配置。",
            "example": "abc123def456ghi789jkl"
          },
          "name": {
            "type": "string",
            "description": "用户为此 Key 设置的名称，方便区分不同工具。",
            "example": "PicGo 主机"
          },
          "keyPrefix": {
            "type": "string",
            "description": "API Key 前 12 字符（展示用，不含完整 Key）。",
            "example": "sk_live_xxxx"
          },
          "scope": {
            "type": "string",
            "enum": [
              "read",
              "read_write",
              "read_write_delete"
            ],
            "description": "v1 三档权限（兼容旧 UI，与 scopesV2 并存）：read=仅读；read_write=读+写；read_write_delete=读+写+删。历史 Key（v0.13 前）默认 read_write_delete。",
            "example": "read_write"
          },
          "scopesV2": {
            "type": "array",
            "description": "v0.31 细粒度权限集合（dot-notation，与 OAuth scope 同形）。scopeVersion=2 时为实际授权集；scopeVersion=1 时为空数组（前端回退读 scope）。",
            "items": {
              "type": "string",
              "enum": [
                "media.read",
                "media.write",
                "media.delete",
                "kb.read",
                "kb.write",
                "account.read",
                "usage.read",
                "collection.read",
                "collection.write",
                "collection.delete",
                "episode.write"
              ]
            },
            "example": [
              "media.read",
              "media.write",
              "kb.read"
            ]
          },
          "scopeVersion": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "权限模型版本：1=旧三档（消费 scope 字段）；2=细粒度（消费 scopesV2 字段）。",
            "example": 2
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "最后一次使用时间，从未使用则为 null。",
            "example": "2026-04-16T09:00:00.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-03-01T00:00:00.000Z"
          }
        }
      },
      "CustomDomain": {
        "type": "object",
        "description": "自定义域名绑定记录。",
        "required": [
          "id",
          "host",
          "verified",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "域名记录 ID，nanoid 21 字符。",
            "example": "abc123def456ghi789jkl"
          },
          "host": {
            "type": "string",
            "description": "域名（不含协议和端口），全小写字母、数字、点、横线。",
            "example": "img.mysite.com"
          },
          "verified": {
            "type": "boolean",
            "description": "CNAME 验证状态。true 表示已验证，图片可通过此域名访问。",
            "example": false
          },
          "verifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "验证通过时间，未验证为 null。",
            "example": null
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-10T12:00:00.000Z"
          }
        }
      },
      "MediaItem": {
        "description": "统一媒体列表元素（v0.12.0+）。`type` 字段是 discriminator：image / video / audio 三种形态字段集合不同。",
        "type": "object",
        "required": [
          "id",
          "type",
          "filename",
          "sizeBytes",
          "isPublic",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "图片 11 字符，视频 / 音频 21 字符 nanoid。"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "图片 / 音频公开 CDN URL（视频此字段不存在）。"
          },
          "playbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "视频 HLS 播放地址（图片 / 音频不存在）。"
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "缩略图 / 封面 URL。"
          },
          "filename": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "durationSeconds": {
            "type": "integer",
            "nullable": true,
            "description": "视频 / 音频时长，图片此字段不存在。"
          },
          "bitrate": {
            "type": "integer",
            "nullable": true,
            "description": "音频码率（kbps），其它类型不存在。"
          },
          "status": {
            "type": "string",
            "description": "图片 / 音频固定为 ready；视频可能为 processing / ready / failed。"
          },
          "isPublic": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "图片标签，视频 / 音频不存在。"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Audio": {
        "type": "object",
        "description": "音频资源对象（v0.12.0+）。",
        "required": [
          "id",
          "type",
          "url",
          "filename",
          "sizeBytes",
          "title",
          "thumbnailUrl",
          "status",
          "isPublic",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "21 字符 nanoid。",
            "example": "KkVO6hcQTwBXgPTvb-_uE"
          },
          "type": {
            "type": "string",
            "enum": [
              "audio"
            ],
            "example": "audio"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "公开 CDN URL，永久稳定。",
            "example": "https://media.picora.me/audio/KkVO6hcQTwBXgPTvb-_uE.mp3"
          },
          "filename": {
            "type": "string",
            "example": "track.mp3"
          },
          "sizeBytes": {
            "type": "integer",
            "example": 5242880
          },
          "mimeType": {
            "type": "string",
            "example": "audio/mpeg"
          },
          "title": {
            "type": "string",
            "example": "Episode 12 — Intro"
          },
          "thumbnailUrl": {
            "type": "string",
            "description": "封面图 URL — 内嵌 ID3 封面或格式化默认 SVG。",
            "example": "https://media.picora.me/audio-cover/KkVO6hcQTwBXgPTvb-_uE.jpg"
          },
          "durationSeconds": {
            "type": "integer",
            "nullable": true,
            "description": "时长（秒），无法解析时为 null。",
            "example": 218
          },
          "bitrate": {
            "type": "integer",
            "nullable": true,
            "description": "码率（kbps），无法解析时为 null。",
            "example": 192
          },
          "status": {
            "type": "string",
            "enum": [
              "ready"
            ],
            "description": "音频固定为 ready（无转码流程）。"
          },
          "isPublic": {
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-27T08:00:00.000Z"
          }
        }
      },
      "RateLimitTierStatus": {
        "type": "object",
        "description": "单档限流状态（v0.12.0+）。",
        "required": [
          "limit",
          "remaining",
          "resetSeconds",
          "resetAt"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "description": "当前档位的总额度（admin 用户已包含 ×10 倍率）。",
            "example": 600
          },
          "remaining": {
            "type": "integer",
            "description": "当前窗口剩余可用次数（不会小于 0）。",
            "example": 583
          },
          "resetSeconds": {
            "type": "integer",
            "description": "距离窗口重置的秒数。",
            "example": 47
          },
          "resetAt": {
            "type": "string",
            "format": "date-time",
            "description": "窗口重置时刻（ISO 8601）。前端用于倒计时显示。",
            "example": "2026-04-27T08:00:00.000Z"
          }
        }
      },
      "UsageStats": {
        "type": "object",
        "description": "用户当前资源使用量统计。",
        "required": [
          "plan",
          "images",
          "videos"
        ],
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "none",
              "trial",
              "pro",
              "pro_plus"
            ],
            "description": "当前套餐。none=未激活，trial=试用版，pro=专业版，pro_plus=旗舰版。",
            "example": "pro"
          },
          "images": {
            "type": "object",
            "required": [
              "storageUsed",
              "bandwidthUsed",
              "uploadCountToday",
              "uploadCountMonth",
              "totalCount"
            ],
            "properties": {
              "storageUsed": {
                "type": "integer",
                "description": "已用图片存储（字节）。",
                "example": 2147483648
              },
              "bandwidthUsed": {
                "type": "integer",
                "description": "本月已用图片 CDN 带宽（字节，估算值）。由 image-serve Worker 在每次返回图片时异步累加（CDN 边缘缓存命中的请求未计入，实际值会偏低）。Key: quota:img_bandwidth:{userId}:{YYYY-MM}，TTL 45 天。",
                "example": 1073741824
              },
              "uploadCountToday": {
                "type": "integer",
                "description": "今日上传次数。",
                "example": 5
              },
              "uploadCountMonth": {
                "type": "integer",
                "description": "本月上传次数。",
                "example": 42
              },
              "totalCount": {
                "type": "integer",
                "description": "图片总数。",
                "example": 318
              }
            }
          },
          "videos": {
            "type": "object",
            "required": [
              "storageUsed",
              "bandwidthUsed"
            ],
            "properties": {
              "storageUsed": {
                "type": "integer",
                "description": "已用视频存储（字节）。Free 套餐始终为 0。",
                "example": 1073741824
              },
              "bandwidthUsed": {
                "type": "integer",
                "description": "本月已用视频 CDN 带宽（字节）。Cron Trigger 每小时从 Bunny.net Statistics API 拉取 Library 总带宽，按用户视频存储占比分摊到各 Pro 用户。Key: quota:video_bandwidth:{userId}:{YYYY-MM}。",
                "example": 10737418240
              }
            }
          }
        }
      },
      "Identity": {
        "type": "object",
        "description": "用户已绑定的登录身份（脱敏处理）。",
        "required": [
          "id",
          "provider",
          "providerIdMasked",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "身份记录 ID，用于解绑操作。",
            "example": "abc123def456ghi789jkl"
          },
          "provider": {
            "type": "string",
            "enum": [
              "email",
              "firebase",
              "wechat",
              "phone"
            ],
            "description": "登录提供方。email=邮箱密码，firebase=Google/Apple，wechat=微信，phone=手机号。",
            "example": "email"
          },
          "providerIdMasked": {
            "type": "string",
            "description": "脱敏后的 provider ID。邮箱显示前 2 位+***@domain；手机显示前 3 位+****+后 4 位。",
            "example": "us***@example.com"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-01-15T08:30:00.000Z"
          }
        }
      },
      "AdminStats": {
        "type": "object",
        "required": [
          "userCount",
          "imageCount",
          "totalStorageBytes"
        ],
        "properties": {
          "userCount": {
            "type": "integer",
            "description": "平台注册用户总数。",
            "example": 1250
          },
          "imageCount": {
            "type": "integer",
            "description": "平台图片总数。",
            "example": 84320
          },
          "totalStorageBytes": {
            "type": "integer",
            "description": "平台图片存储总用量（字节）。",
            "example": 536870912000
          }
        }
      },
      "AdminUser": {
        "type": "object",
        "required": [
          "id",
          "plan",
          "role",
          "isActive",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "example": "user@example.com"
          },
          "plan": {
            "type": "string",
            "enum": [
              "none",
              "trial",
              "pro",
              "pro_plus"
            ],
            "description": "当前套餐。none=未激活，trial=试用版，pro=专业版，pro_plus=旗舰版。",
            "example": "pro"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ],
            "example": "user"
          },
          "isActive": {
            "type": "boolean",
            "description": "false 表示已封禁。",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-01-20T00:00:00.000Z"
          }
        }
      },
      "KbItem": {
        "type": "object",
        "description": "Knowledge Base 实体",
        "required": [
          "id",
          "name",
          "slug",
          "kbType",
          "description",
          "docCount",
          "sizeBytes",
          "isDefault",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "nanoid(21)",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "name": {
            "type": "string",
            "description": "显示名（≤120 char）",
            "example": "研究笔记"
          },
          "slug": {
            "type": "string",
            "description": "路径友好标识，^[a-z0-9][a-z0-9-]{0,62}[a-z0-9]$",
            "example": "research-notes"
          },
          "kbType": {
            "type": "string",
            "enum": [
              "creator",
              "output"
            ],
            "description": "KB 类型：creator=创作输入库（默认），output=AIGC 输出库。缺省时后端回填 creator，故响应中恒有值。",
            "example": "creator"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "可选描述（≤500 char）",
            "example": "存放 AI 领域的研究资料"
          },
          "docCount": {
            "type": "integer",
            "description": "当前 KB 内活跃文档数（缓存值）",
            "example": 42
          },
          "sizeBytes": {
            "type": "integer",
            "description": "当前 KB 内所有文档总字节数（缓存值）",
            "example": 102400
          },
          "isDefault": {
            "type": "boolean",
            "description": "是否为默认 KB（用户每账号至多 1 个）",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-29T08:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-29T12:00:00.000Z"
          }
        }
      },
      "KbManifestEntry": {
        "type": "object",
        "description": "Manifest 条目（轻量 metadata，不含文档内容）",
        "properties": {
          "relativePath": {
            "type": "string",
            "description": "POSIX 相对路径（UTF-8，NFC 归一化）",
            "example": "notes/2026/04/idea.md"
          },
          "sourceHash": {
            "type": "string",
            "nullable": true,
            "description": "文档 SHA-256 十六进制摘要；软删项为 null",
            "example": "a3f2..."
          },
          "sizeBytes": {
            "type": "integer",
            "nullable": true,
            "description": "字节数；软删项为 null",
            "example": 1024
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "最后修改时间；软删项为 null",
            "example": "2026-04-29T08:00:00.000Z"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "软删除时间；活跃文档为 null",
            "example": null
          }
        }
      },
      "SyncAppliedItem": {
        "type": "object",
        "description": "已成功应用的 sync op",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "upsert",
              "delete",
              "move"
            ],
            "description": "同步操作类型：upsert=新增/更新；delete=软删除；move=重命名/移动路径（v0.68 起支持）。",
            "example": "upsert"
          },
          "relativePath": {
            "type": "string",
            "example": "notes/foo.md"
          },
          "id": {
            "type": "string",
            "nullable": true,
            "description": "文档 ID；delete 且原本不存在时为 null",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "updatedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "sourceHash": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SyncConflictItem": {
        "type": "object",
        "description": "未能应用的 sync op（冲突）",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "upsert",
              "delete",
              "move"
            ],
            "description": "同步操作类型：upsert=新增/更新；delete=软删除；move=重命名/移动路径（v0.68 起支持）。",
            "example": "upsert"
          },
          "relativePath": {
            "type": "string",
            "example": "notes/foo.md"
          },
          "reason": {
            "type": "string",
            "enum": [
              "REMOTE_NEWER",
              "REMOTE_DELETED",
              "BASE_MISSING",
              "LOCAL_HASH_MISMATCH",
              "MOVE_SOURCE_MISSING",
              "MOVE_TARGET_EXISTS"
            ],
            "description": "REMOTE_NEWER=服务端有更新版本；REMOTE_DELETED=服务端已软删；BASE_MISSING=缺 baseUpdatedAt；LOCAL_HASH_MISMATCH=content 与 sourceHash 不一致；MOVE_SOURCE_MISSING=move 操作的源路径文档不存在；MOVE_TARGET_EXISTS=move 操作的目标路径已存在文档（v0.68）"
          },
          "remote": {
            "type": "object",
            "nullable": true,
            "description": "服务端当前快照（帮助客户端 3-way merge）",
            "properties": {
              "sourceHash": {
                "type": "string",
                "nullable": true
              },
              "sizeBytes": {
                "type": "integer",
                "nullable": true
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "deletedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        }
      },
      "KbTombstoneEntry": {
        "type": "object",
        "required": [
          "docId",
          "relativePath",
          "sourceHash",
          "deletedAt"
        ],
        "properties": {
          "docId": {
            "type": "string",
            "minLength": 21,
            "maxLength": 21,
            "description": "文档 nanoid（21 字符）。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "relativePath": {
            "type": "string",
            "description": "POSIX 相对路径（删除前的位置）。",
            "example": "notes/old.md"
          },
          "sourceHash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$",
            "description": "删除前的内容 sha256-hex。",
            "example": "a1b2c3d4e5f60000000000000000000000000000000000000000000000000000"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "软删时间戳（ISO 8601）。",
            "example": "2026-05-01T00:00:00.000Z"
          }
        }
      },
      "DocItem": {
        "type": "object",
        "required": [
          "id",
          "title",
          "filename",
          "format",
          "sizeBytes",
          "wordCount",
          "imageCount",
          "rewrittenCount",
          "isPublic",
          "tags",
          "coverUrl",
          "hasInlineContent",
          "kbId",
          "relativePath",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 21,
            "maxLength": 21,
            "description": "文档唯一 ID（nanoid 21 字符）。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "title": {
            "type": "string",
            "description": "文档标题（从 frontmatter h1 提取）。",
            "example": "Welcome to Moraya"
          },
          "filename": {
            "type": "string",
            "description": "上传时的原始文件名（含扩展名）。",
            "example": "welcome.md"
          },
          "format": {
            "type": "string",
            "enum": [
              "markdown",
              "typst"
            ],
            "description": "文档标记语言（v0.82.0+）。`markdown` = `.md`/`.markdown`；`typst` = `.typ`。历史文档按文件名扩展推导，恒有值。",
            "example": "markdown"
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0,
            "description": "内容字节数。",
            "example": 1024
          },
          "wordCount": {
            "type": "integer",
            "minimum": 0,
            "description": "正文词数（分词后）。",
            "example": 200
          },
          "imageCount": {
            "type": "integer",
            "minimum": 0,
            "description": "文档内图片总数（含改写前）。",
            "example": 3
          },
          "rewrittenCount": {
            "type": "integer",
            "minimum": 0,
            "description": "成功改写为 Picora CDN 链接的内嵌 base64 图片数。",
            "example": 2
          },
          "isPublic": {
            "type": "boolean",
            "description": "文档是否公开可读（公开文档 `/v1/docs/:id/raw` 无需认证）。",
            "example": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "标签列表。",
            "example": [
              "draft",
              "kb"
            ]
          },
          "coverUrl": {
            "type": "string",
            "nullable": true,
            "description": "卡片封面图 URL；NULL 表示无图片。",
            "example": "https://media.picora.me/abc.jpg"
          },
          "hasInlineContent": {
            "type": "boolean",
            "description": "内容是否直存（≤256KB 直存 DB；> 256KB 走 R2）。调用方用 `/v1/docs/:id/raw` 拉全文，无需关心此字段。",
            "example": true
          },
          "kbId": {
            "type": "string",
            "nullable": true,
            "minLength": 21,
            "maxLength": 21,
            "description": "所属 KB ID；NULL = 未归属任一 KB 或 legacy 文档。",
            "example": "KkVO6hcQTwBXgPTvb-_uE"
          },
          "relativePath": {
            "type": "string",
            "nullable": true,
            "description": "KB 内 POSIX 相对路径；NULL = 未归属 KB。",
            "example": "notes/default.md"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间（ISO 8601）。",
            "example": "2026-05-09T08:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "最后更新时间（ISO 8601）。",
            "example": "2026-05-09T09:00:00.000Z"
          }
        }
      },
      "KbConflictBranch": {
        "type": "object",
        "required": [
          "id",
          "docId",
          "baseSourceHash",
          "branchContent",
          "status",
          "clientId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 21,
            "maxLength": 21,
            "description": "冲突分支唯一 ID（nanoid 21 字符）。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "docId": {
            "type": "string",
            "minLength": 21,
            "maxLength": 21,
            "description": "所属文档 ID。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "baseSourceHash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$",
            "description": "创建分支时客户端持有的基准内容 sha256-hex。",
            "example": "a1b2c3d4e5f60000000000000000000000000000000000000000000000000000"
          },
          "branchContent": {
            "type": "string",
            "description": "分支内容（Markdown 原文）。",
            "example": "# Conflict version\n..."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "discarded"
            ],
            "description": "分支状态：pending=待处置 / accepted=已采纳 / discarded=已丢弃。",
            "example": "pending"
          },
          "clientId": {
            "type": "string",
            "nullable": true,
            "description": "产生冲突的设备/客户端标识；NULL = 未知。",
            "example": "moraya-web-desktop"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间（ISO 8601）。",
            "example": "2026-05-09T08:00:00.000Z"
          }
        }
      },
      "OAuthErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "error_description",
          "error_uri"
        ],
        "description": "RFC 6749 §5.2 标准 OAuth 错误响应（与 Picora 通用 ErrorResponse 格式不同）。",
        "properties": {
          "error": {
            "type": "string",
            "description": "机器可读错误码（RFC 6749 §5.2 枚举）。",
            "example": "invalid_grant"
          },
          "error_description": {
            "type": "string",
            "description": "人类可读错误描述。",
            "example": "Authorization code expired or already used"
          },
          "error_uri": {
            "type": "string",
            "description": "错误详情文档链接。",
            "example": "https://picora.me/docs/oauth#errors"
          },
          "error_reason": {
            "type": "string",
            "enum": [
              "refresh_token_reuse",
              "refresh_token_revoked",
              "refresh_token_expired",
              "refresh_token_invalid"
            ],
            "description": "Picora 扩展（v0.83.0）：稳定的机器可读子原因，仅在 refresh_token 授权失败时出现，用于让客户端区分 `invalid_grant` 的具体终态并给用户对应引导。四值均意味着「refresh token 已终态失效 → 必须重新授权」，差异仅用于面向用户的文案：`refresh_token_reuse`=已旋转/失效的 refresh 被再次使用，触发重放保护、整链吊销（**安全事件**，应提示用户可能被盗用）；`refresh_token_revoked`=该链被显式吊销（改密/登出全部/管理员；预留值，当前与 reuse 同置 rotated_at 无法区分，均报 reuse）；`refresh_token_expired`=自然过期；`refresh_token_invalid`=不存在/client_id 不匹配。**客户端契约：未知值一律按「终态、需重新授权」处理**（前向兼容）。",
            "example": "refresh_token_reuse"
          }
        }
      },
      "OAuthClientInfo": {
        "type": "object",
        "required": [
          "id",
          "client_name",
          "redirect_uris",
          "scopes",
          "status",
          "createdAt"
        ],
        "description": "已注册 OAuth 客户端基本信息。",
        "properties": {
          "id": {
            "type": "string",
            "description": "client_id（UUID 或 mw_picora 等固定 ID）。",
            "example": "mw_picora"
          },
          "client_name": {
            "type": "string",
            "description": "应用名称。",
            "example": "Moraya Web"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已注册的重定向 URI 列表。",
            "example": [
              "https://web.moraya.app/login/callback"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已授权 scope 列表。",
            "example": [
              "openid",
              "media.read",
              "media.write"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "pending"
            ],
            "description": "审核状态。",
            "example": "approved"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "注册时间（ISO 8601）。",
            "example": "2026-05-09T08:00:00.000Z"
          }
        }
      },
      "OAuthAuthorizedApp": {
        "type": "object",
        "required": [
          "id",
          "client_name",
          "scopes",
          "lastUsedAt",
          "authorizedAt"
        ],
        "description": "用户已授权的 OAuth 应用（/v1/me/apps 返回）。",
        "properties": {
          "id": {
            "type": "string",
            "description": "client_id。",
            "example": "mw_picora"
          },
          "client_name": {
            "type": "string",
            "description": "应用名称。",
            "example": "Moraya Web"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "已授权 scope 列表。",
            "example": [
              "openid",
              "media.read"
            ]
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "最近使用时间；NULL = 从未使用。",
            "example": "2026-05-09T08:00:00.000Z"
          },
          "authorizedAt": {
            "type": "string",
            "format": "date-time",
            "description": "首次授权时间。",
            "example": "2026-05-01T00:00:00.000Z"
          }
        }
      },
      "OAuthTokenRequest": {
        "type": "object",
        "required": [
          "grant_type"
        ],
        "discriminator": {
          "propertyName": "grant_type"
        },
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code",
              "refresh_token"
            ],
            "description": "授权类型"
          },
          "code": {
            "type": "string",
            "description": "授权码（grant_type=authorization_code 时必填）"
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri",
            "description": "必须与 /oauth/consent 时一致（grant_type=authorization_code 时必填）",
            "example": "https://web.moraya.app/login/callback"
          },
          "client_id": {
            "type": "string",
            "description": "发起请求的 client_id（两种 grant_type 均必填）",
            "example": "mw_picora"
          },
          "code_verifier": {
            "type": "string",
            "description": "PKCE code verifier（公开客户端必填），服务端计算 SHA256 后与 code_challenge 对比",
            "example": "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
          },
          "refresh_token": {
            "type": "string",
            "description": "刷新令牌（grant_type=refresh_token 时必填）"
          },
          "scope": {
            "type": "string",
            "description": "可选，申请缩小 scope（RFC 6749 §6，不能超过原 granted scopes）"
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "refresh_token"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth access token（JWT 格式，有效期 15 分钟）"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ],
            "description": "固定为 Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "access_token 有效期秒数",
            "example": 900
          },
          "refresh_token": {
            "type": "string",
            "description": "刷新令牌（有效期 7 天，每次使用后旋转）"
          },
          "scope": {
            "type": "string",
            "description": "实际授予的 scope（可能小于请求 scope）",
            "example": "openid kb.read kb.write"
          },
          "id_token": {
            "type": "string",
            "description": "OIDC ID Token（JWT，仅当 granted scopes 含 openid 时返回；包含 sub/iss/aud/exp/iat/auth_time/nonce 等 claims）"
          }
        }
      },
      "TicketItem": {
        "type": "object",
        "required": [
          "id",
          "title",
          "category",
          "status",
          "priority",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "工单 ID（nanoid 21字符）",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "title": {
            "type": "string",
            "description": "工单标题",
            "example": "图片上传后无法访问"
          },
          "category": {
            "type": "string",
            "description": "工单分类",
            "example": "bug"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "pending",
              "closed"
            ],
            "description": "工单状态"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high",
              "urgent"
            ],
            "description": "优先级"
          },
          "unreadCount": {
            "type": "integer",
            "description": "当前用户视角未读消息数",
            "example": 1
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TicketMessage": {
        "type": "object",
        "required": [
          "id",
          "ticketId",
          "role",
          "content",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "消息 ID（nanoid 21字符）"
          },
          "ticketId": {
            "type": "string",
            "description": "所属工单 ID"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ],
            "description": "发送者角色"
          },
          "content": {
            "type": "string",
            "description": "消息内容（Markdown 格式）"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TicketDetail": {
        "type": "object",
        "required": [
          "ticket",
          "messages"
        ],
        "properties": {
          "ticket": {
            "$ref": "#/components/schemas/TicketItem"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TicketMessage"
            },
            "description": "全部消息列表（按时间升序）"
          },
          "user": {
            "type": "object",
            "description": "工单提交用户信息（管理侧视图时包含）",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          }
        }
      },
      "WatermarkTemplate": {
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "水印模板 ID（nanoid 21字符）",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "name": {
            "type": "string",
            "description": "模板名称",
            "example": "右下角小字水印"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image"
            ],
            "description": "水印类型：text = 文字水印，image = 图片水印"
          },
          "position": {
            "type": "string",
            "enum": [
              "top-left",
              "top-right",
              "bottom-left",
              "bottom-right",
              "center"
            ],
            "description": "水印位置"
          },
          "opacity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "透明度（0=全透明，1=不透明）",
            "example": 0.5
          },
          "text": {
            "type": "string",
            "description": "水印文字（type=text 时有效）"
          },
          "fontSize": {
            "type": "integer",
            "description": "字号（px），type=text 时有效"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "水印图片 URL（type=image 时有效）"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WatermarkTemplateCreate": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "模板名称",
            "example": "右下角小字水印"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image"
            ],
            "description": "水印类型"
          },
          "position": {
            "type": "string",
            "enum": [
              "top-left",
              "top-right",
              "bottom-left",
              "bottom-right",
              "center"
            ],
            "description": "水印位置"
          },
          "opacity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "透明度",
            "example": 0.5
          },
          "text": {
            "type": "string",
            "description": "水印文字（type=text 时必填）"
          },
          "fontSize": {
            "type": "integer",
            "minimum": 8,
            "maximum": 200,
            "description": "字号（px）"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "水印图片 URL（type=image 时必填）"
          }
        }
      },
      "StorageTierStat": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "该层文件数量",
            "example": 120
          },
          "sizeBytes": {
            "type": "integer",
            "description": "该层总占用空间（bytes）",
            "example": 1073741824
          },
          "percentage": {
            "type": "number",
            "description": "占总空间的比例（0-1）",
            "example": 0.35
          }
        }
      },
      "InviteCode": {
        "type": "object",
        "required": [
          "id",
          "code",
          "plan",
          "isActive",
          "usedCount",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "邀请码 ID（nanoid 21字符）",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "code": {
            "type": "string",
            "description": "邀请码文本",
            "example": "PICORA2026"
          },
          "plan": {
            "type": "string",
            "enum": [
              "trial",
              "pro",
              "pro_plus"
            ],
            "description": "激活后的套餐"
          },
          "isActive": {
            "type": "boolean",
            "description": "是否启用"
          },
          "maxUses": {
            "type": "integer",
            "nullable": true,
            "description": "最大使用次数（null 表示无限制）"
          },
          "usedCount": {
            "type": "integer",
            "description": "已使用次数",
            "example": 3
          },
          "durationMonths": {
            "type": "integer",
            "nullable": true,
            "description": "套餐有效月数（null 表示永久）"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "过期时间（null 表示不过期）"
          },
          "note": {
            "type": "string",
            "nullable": true,
            "description": "备注"
          },
          "createdBy": {
            "type": "string",
            "description": "创建管理员的用户 ID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdminOrderItem": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "provider",
          "amountCents",
          "currency",
          "plan",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "订单 ID（nanoid 21字符）",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "userId": {
            "type": "string",
            "description": "下单用户 ID"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "用户邮箱（JOIN auth_users）"
          },
          "provider": {
            "type": "string",
            "enum": [
              "creem",
              "polar",
              "xunhu",
              "lemon_squeezy"
            ],
            "description": "支付渠道：creem / polar（海外）、xunhu（国内讯虎）、lemon_squeezy（已下线，仅历史 webhook 兼容）。",
            "example": "polar"
          },
          "amountCents": {
            "type": "integer",
            "description": "金额（分，最小货币单位）",
            "example": 499
          },
          "currency": {
            "type": "string",
            "description": "货币代码",
            "example": "USD"
          },
          "plan": {
            "type": "string",
            "enum": [
              "trial",
              "pro",
              "pro_plus"
            ]
          },
          "period": {
            "type": "string",
            "nullable": true,
            "enum": [
              "onetime",
              "monthly",
              "yearly"
            ],
            "description": "订阅周期"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "refunded",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CdnWhitelistEntry": {
        "type": "object",
        "required": [
          "id",
          "pattern",
          "matchType",
          "isActive",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "条目 ID（nanoid 21字符，或 seed_ 前缀的种子条目）",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "pattern": {
            "type": "string",
            "description": "匹配模式（域名或前缀）",
            "example": "web.moraya.app"
          },
          "matchType": {
            "type": "string",
            "enum": [
              "exact",
              "prefix"
            ]
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "createdBy": {
            "type": "string",
            "description": "创建者用户 ID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "seedProtected": {
            "type": "boolean",
            "description": "是否为种子保护项（不可删除）",
            "example": false
          }
        }
      },
      "BoardItem": {
        "type": "object",
        "required": [
          "id",
          "title",
          "filename",
          "sizeBytes",
          "elementCount",
          "isPublic",
          "tags",
          "hasInlineContent",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 21,
            "maxLength": 21,
            "description": "画板唯一 ID（nanoid 21 字符）。",
            "example": "V1StGXR8_Z5jdHi6B-myT"
          },
          "title": {
            "type": "string",
            "description": "画板标题（默认取文件名去 .boardraw 扩展名）。",
            "example": "Lesson 3 board"
          },
          "filename": {
            "type": "string",
            "description": "上传时的原始文件名（含 .boardraw 扩展名）。",
            "example": "lesson-3.boardraw"
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0,
            "description": "场景 JSON 字节数。",
            "example": 2048
          },
          "elementCount": {
            "type": "integer",
            "minimum": 0,
            "description": "有效场景元素总数（rectangle / ellipse / line / arrow / text / freedraw / image 等合计，不含 isDeleted 软删除元素）。",
            "example": 12
          },
          "isPublic": {
            "type": "boolean",
            "description": "画板是否公开可读（公开画板 `/v1/boards/:id/raw` 无需认证）。",
            "example": false
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "标签列表（最多 10 个，每个 ≤32 字符）。",
            "example": [
              "math",
              "physics"
            ]
          },
          "hasInlineContent": {
            "type": "boolean",
            "description": "内容存储位置抽象：`true` 表示场景 JSON 内联直存（≤256KB），`false` 表示存储于 R2。调用方无需感知差异，统一用 `/v1/boards/:id/raw` 取全文。",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间（ISO 8601）。",
            "example": "2026-07-12T08:00:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "最近更新时间（ISO 8601）。",
            "example": "2026-07-12T08:00:00.000Z"
          }
        }
      }
    },
    "parameters": {
      "CursorParam": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "分页游标，由上一页响应的 `data.nextCursor` 字段返回。首次请求不传，传空字符串视为首页。",
        "example": "eyJpZCI6IlhLOU1SMlBRN3ZCIiwiY3JlYXRlZEF0IjoiMjAyNi0wMy0xMCJ9"
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "description": "每页返回数量，最大 100，默认 20。"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "未认证或 Token 已过期。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Unauthorized"
            }
          }
        }
      },
      "Forbidden": {
        "description": "无权限（套餐不足或角色不匹配）。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Forbidden"
            }
          }
        }
      },
      "NotFound": {
        "description": "资源不存在。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Image not found"
            }
          }
        }
      },
      "ValidationError": {
        "description": "请求参数校验失败。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Validation error: email is invalid"
            }
          }
        }
      },
      "InternalError": {
        "description": "服务器内部错误。",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Internal server error"
            }
          }
        }
      },
      "RateLimit": {
        "description": "触发分层限流（v0.12.0+）。响应头含 `RateLimit-Limit` / `RateLimit-Remaining` / `RateLimit-Reset` / `Retry-After`。",
        "headers": {
          "RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "当前 tier 的总额度。"
          },
          "RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "剩余可用次数。"
          },
          "RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "距离窗口重置的秒数。"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "建议客户端等待的秒数。"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Rate limit exceeded (upload): 61/60 per minute"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "服务健康检查，用于负载均衡器探活。无需认证。",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "服务正常。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "ts": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-04-17T08:00:00.000Z"
                    },
                    "version": {
                      "type": "string",
                      "description": "服务版本（来自 APP_VERSION 环境变量）",
                      "example": "0.17.1"
                    },
                    "features": {
                      "type": "object",
                      "description": "已启用功能特性开关，供客户端能力检测使用",
                      "properties": {
                        "kb": {
                          "type": "boolean",
                          "description": "KB 命名空间 + 双向同步（v0.17.0）",
                          "example": true
                        },
                        "mediaListingV2": {
                          "type": "boolean",
                          "description": "Media listing 字段补全（v0.17.1）",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-rate-limit-tier": "read",
        "x-required-scope": "read"
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "OAuth 2.0 Authorization Server Metadata",
        "description": "RFC 8414 discovery endpoint. Returns server metadata including token, authorization, and revocation endpoint URLs. Response is cached for 1 hour.",
        "operationId": "getOAuthAuthorizationServer",
        "security": [],
        "responses": {
          "200": {
            "description": "授权服务器元数据",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=3600"
                },
                "description": "客户端缓存指令"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "issuer",
                    "authorization_endpoint",
                    "token_endpoint",
                    "jwks_uri"
                  ],
                  "properties": {
                    "issuer": {
                      "type": "string",
                      "example": "https://api.picora.me",
                      "description": "OIDC iss claim，授权服务器自我标识 URL"
                    },
                    "authorization_endpoint": {
                      "type": "string",
                      "example": "https://center.picora.me/oauth/consent",
                      "description": "授权端点（重定向到 picora-center 同意页）"
                    },
                    "token_endpoint": {
                      "type": "string",
                      "example": "https://api.picora.me/oauth/token",
                      "description": "Token 签发端点"
                    },
                    "revocation_endpoint": {
                      "type": "string",
                      "example": "https://api.picora.me/oauth/revoke",
                      "description": "RFC 7009 Token 吊销端点"
                    },
                    "registration_endpoint": {
                      "type": "string",
                      "example": "https://api.picora.me/oauth/register",
                      "description": "RFC 7591 动态客户端注册端点"
                    },
                    "userinfo_endpoint": {
                      "type": "string",
                      "example": "https://api.picora.me/oauth/userinfo",
                      "description": "OIDC UserInfo 端点"
[...]
